body {
  background-color: #d6eefe;
  font-family: "Montserrat", sans-serif;
  font-size: 1rem;
}

h1 {
  color: #bebebe;
  font-family: "Titan One", cursive;
}

button:hover {
  opacity: 0.6;
}

.container {
  display: grid;
  justify-content: center;
}

.color-container {
  background-color: #bebebe;
  display: flex;
  justify-content: center;
  justify-self: center;
  width: 150px;
  position: relative;
  top: 60px;
}

.color-button {
  height: 15px;
  width: 15px;
  border-radius: 50%;
  border-style: none;
  display: inline-block;
  margin: 5px;
}

.list-container {
  background-color: #f8f8f8;
  border-radius: 5%;
  box-shadow: 5px 4px 8px 2px #bebebe;
  min-height: 500px;
  min-width: 350px;
  max-width: 350px;
  display: flex;
  flex-direction: column;
  align-content: center;
  text-align: center;
  position: relative;
  top: 60px;
}

.list-container h1 {
  color: #bebebe;
  font-family: "Titan One", cursive;
  text-align: center;
}

.list-input input {
  background-color: transparent;
  border-style: none;
  border-bottom-style: dotted;
  border-color: #bebebe;
  font-family: "Montserrat", sans-serif;
  font-size: 1rem;
  outline: none;
  text-align: center;
}

.list-input button {
  background-color: transparent;
  border-color: #bde3ff;
  border-radius: 100%;
  margin-left: 15px;
}

.list-item {
  display: flex;
  grid-template-columns: 4fr 1fr;
  grid-template-areas: "text button";
  margin-bottom: 10px;
}

.item-text {
  grid-area: "text";
  word-wrap: break-all;
}

.item-buttons {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-area: "button";
  grid-gap: 5px;
  margin: 0px 10px 0px 15px;
  margin-bottom: auto;
}

.item-buttons button {
  background-color: transparent;
  border-color: #bde3ff;
  border-radius: 100%;
  font-size: 12px;
}

.dropdown-container {
  position: absolute;
  right: 15px;
  top: 22px;
}

.nav-button,
.drop-button {
  background-color: transparent;
  border-radius: 100%;
  border-style: none;
  color: #bebebe;
  font-size: 12px;
}

.drop-button {
  display: block;
  font-size: 1rem;
  margin: 12px;
}

.dropdown-content {
  display: none;
}

.dropdown-container:hover .dropdown-content {
  display: block;
}

.time-container {
  position: absolute;
  right: 100px;
}
