body {
  background-color: #d6eefe;
  font-family: "Montserrat", sans-serif;
}

h1 {
  color: #bebebe;
  font-family: "Titan One", cursive;
}

.container {
  display: flex;
  justify-content: center;
}

.clock-container {
  position: absolute;
  right: 15px;
  top: 0;
}

.list-container {
  background-color: #f8f8f8;
  border-radius: 5%;
  box-shadow: 5px 4px 8px 2px #bebebe;
  min-height: 500px;
  min-width: 300px;
  position: relative;
  top: 55px;
  display: flex;
  flex-direction: column;
  align-content: center;
}

.list-title {
  text-align: center;
}

.list-title img {
  height: 125px;
  width: 170px;
}

.list-title h1 {
  color: #bebebe;
  font-family: "Titan One", cursive;
}

.list-input {
  text-align: center;
}

.list-input input {
  background-color: transparent;
  border-style: none;
  border-bottom-style: dotted;
  border-color: #bebebe;
  font-family: "Montserrat", sans-serif;
  outline: none;
  width: 35%;
}

.list-input button {
  background-color: transparent;
  border-color: #bde3ff;
  border-radius: 100%;
  margin-left: 10px;
}

.list-container p {
  font-weight: bold;
  text-align: center;
}

.list-item {
  display: grid;
  grid-template-columns: 4fr 1fr;
  grid-template-areas: "text button";
  margin-bottom: 10px;
}

.item-text {
  grid-area: "text";
}

.item-buttons {
  display: grid;
  align-content: center;
  grid-template-columns: 1fr 1fr;
  grid-area: "button";
}

.item-buttons input {
}

.item-buttons button {
  background-color: transparent;
  border-color: #bde3ff;
  border-radius: 100%;
  font-size: 12px;
}
/* 
.list-item:hover + .item-buttons button,
.button:hover {
  display: block;
} */
